//*******************
//**** Variables ****
//*******************

//Colors
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$white: white;
$black: black;
$danger: darkred;
$validation: green;

//Background
$light-background-color: #f6f6f6;
$dark-background-color: #353535;
$button-background-color: linear-gradient(
  170deg,
  rgba(255, 121, 218, 1) 0%,
  rgba(198, 86, 208, 1) 60%,
  rgba(147, 86, 220, 1) 100%
);

//Font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
$main-font: "Roboto", sans-serif;
$logo-font: "Shrikhand", sans-serif;
$font-color: $black !default;

//Padding & Margin
$padding: 0.6rem !default;
$margin: 0.6rem !default;
$center: 0 auto;

//Height & Width
$height: 100vh;
$width: 100%;

//**************
//**** Maps ****
//**************

// @maps

$breakpoints: (
  "mobile": 768px,
  "tablet": 992px,
);

//***************
//**** Reset ****
//***************

* {
  margin: $margin - 0.6rem;
  padding: $padding - 0.6rem;
  box-sizing: border-box;
  font-family: $main-font;
}

ul,
ol,
a {
  list-style-type: none;
  text-decoration: none;
  color: $font-color;
}

//*******************
//**** Fonctions ****
//*******************

// @function

//****************
//**** Mixins ****
//****************

@mixin flexbox($justify, $align, $gap: 0, $flex-flow: row wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-flow: $flex-flow;
}

@mixin box-shadow($params) {
  box-shadow: $params;
}

@mixin icon($content) {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: $content;
}

@mixin explanation-content($content) {
  @include flexbox(flex-start, center, row wrap);

  &--number {
    position: relative;
    top: 4.25rem;
    right: 1rem;
    background-color: $primary;
    border-radius: 3rem;
    color: $white;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    display: table;

    & p {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &--text {
    @include flexbox(flex-start, center, 1.5rem);
    width: 100%;
    padding: $padding + 1rem $padding + 1.5rem;
    background-color: $light-background-color;
    margin: $margin + 0.6rem 0;
    border-radius: 1rem;
    @include box-shadow(0 0.4rem 1rem 0.2rem rgba(0, 0, 0, 0.3));

    &::before {
      text-align: center;
      width: 1.5rem;
      @include icon($content);
    }
  }
}

@mixin index-image {
  & img {
    height: 12.06rem;
    width: 20rem;
    max-width: 100%;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    @extend %cover-fit;
  }
}

@mixin header-image {
  & img {
    height: 25rem;
    width: 100%;
    max-width: 100%;
    @extend %cover-fit;
  }
}

@mixin heart {
  .fa-regular {
    font-size: 2rem;
    position: absolute;
    transform: translate(3.15rem, 1.05rem);
  }

  .fa-solid {
    font-size: 2rem;
    position: absolute;
    opacity: 0;
    transform: translate(3.15rem, 1.05rem);
    background: linear-gradient(
      41deg,
      rgba(217, 107, 198, 1) 0%,
      rgba(198, 86, 208, 1) 37%,
      rgba(147, 86, 208, 1) 100%
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .fa-solid:hover {
    animation: full-heart 300ms ease-in-out both;
  }

  .fa-solid:active {
    animation: full-heart 300ms ease-in-out both;
  }

  @keyframes full-heart {
    0% {
      opacity: 0;
      transform: translate(3.15rem, 1.05rem) scale(0.2);
    }

    25% {
      transform: translate(3.15rem, 1.05rem) scaleX(1.3) scaleY(1.1);
      opacity: 0.18;
    }

    50% {
      transform: translate(3.15rem, 1.05rem) scaleX(1.2) scaleY(1.4);
      opacity: 0.55;
    }

    75% {
      transform: translate(3.15rem, 1.05rem) scaleX(1.3) scaleY(1.1);
      opacity: 0.65;
    }

    100% {
      opacity: 1;
      transform: translate(3.15rem, 1.05rem) scale(1);
    }
  }
}

@mixin linear-lighten(
  $deg,
  $color-1,
  $color-2,
  $color-3,
  $amount,
  $params-1: 0%,
  $params-2,
  $params-3: 100%
) {
  background: linear-gradient(
    $deg,
    lighten($color-1, $amount) $params-1,
    lighten($color-2, $amount) $params-2,
    lighten($color-3, $amount) $params-3
  );
}

@mixin desktop-only {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin text-colour($colour) {
  @if (lightness($colour) < 25%) {
    $colour: lighten($colour, 10%);
  } @else {
    $colour: darken($colour, 50%);
  }

  color: $colour;
}

@mixin menu-title {
  &--title {
    text-transform: uppercase;
    font-size: 1.1rem;
    @extend %bottom-border;
  }
}

@mixin button {
  &__button {
    &--content {
      color: $white;
      font-size: 1.2rem;
    }

    & button {
      @extend %button;
    }
  }
}
//********************
//**** Extensions ****
//********************

// .[nom de l'extension]

// @extends .[nom de l'extension]

//**********************
//**** Placeholders ****
//**********************

// %[nom du placeholder]

// @extend [nom du placeholder]

%typography {
  letter-spacing: 0.1rem;
}

%button {
  padding: $padding + 0.6rem $padding + 1.8rem;
  border: none;
  border-radius: 2.5rem;
  background: $button-background-color;
  @include box-shadow(0 0.4rem 1rem 0.2rem rgba(0, 0, 0, 0.3));

  & p {
    color: $white;
    font-size: 1.2rem;
  }

  &:hover {
    @include linear-lighten(
      170deg,
      rgba(255, 121, 218, 1),
      rgba(198, 86, 208, 1),
      rgba(147, 86, 220, 1),
      5%,
      0%,
      60%,
      100%
    );
    @include box-shadow(0 0.4rem 1rem 0.2rem rgba(0, 0, 0, 0.5));
  }
}

%cover-fit {
  object-fit: cover;
}

%bottom-border {
  &::after {
    content: "";
    display: block;
    padding-top: $padding;
    width: 60%;
    border-bottom: 3px solid $tertiary;
  }
}

//****************
//**** Layout ****
//****************

main {
  @include desktop-only {
    max-width: 1440px;
    margin: $center;
  }
}

.header {
  &__back {
    & a {
      grid-area: 1 / 1 / 2 / 2;
      font-size: 2rem;
      &::before {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        right: 1.5rem;
        @include icon("\f060");
      }
    }
  }

  &__logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
    text-align: center;
    padding: $padding + 0.4rem 0;
    @include box-shadow(0 0.4rem 1rem 0.4rem rgba(0, 0, 0, 0.3));

    & h1 {
      grid-area: 1 / 2 / 2 / 3;
      font-family: $logo-font;
      @extend %typography;
    }
  }

  &__restaurant-image {
    height: 15rem;
    max-width: 100%;
    @include header-image;
  }
}

.places {
  padding: $padding + 0.4rem 0;
  background-color: $light-background-color;

  &__text {
    @include flexbox(center, center, 0.6rem);
    &::before {
      @include icon("\f3c5");
    }
  }
}

.footer {
  background-color: $dark-background-color;
  color: $white;
  padding: $padding + 1.25rem $padding + 0.6rem;

  &__logo {
    margin-bottom: $margin + 0.6rem;
    & h2 {
      font-family: $logo-font;
    }
  }

  &__link {
    color: $white;
    @include flexbox(flex-start, flex-start, 0.6rem, column wrap);

    &-1 {
      @include flexbox(space-between, flex-start, 0.4rem);
      &::before {
        width: 1.5rem;
        @include icon("\f2e7");
      }
    }

    &-2 {
      @include flexbox(space-between, flex-start, 0.4rem);
      &::before {
        width: 1.5rem;
        @include icon("\f4c4");
      }
    }

    & a {
      color: $white;
    }
  }

  &__container {
    @include desktop-only {
      max-width: 50%;
      margin: $center;
    }

    @include tablet-only {
      max-width: 70%;
      margin: $center;
    }
  }
}

.reservation {
  padding: $padding + 1.25rem $padding + 0.6rem;
  @include flexbox(space-between, center, 0.6rem, column wrap);
  text-align: center;

  &__button{
    margin-top: $margin + 1rem;
  }
  @include button;
}

.explanation {
  padding: $padding + 0.6rem;
  max-width: 600px;
  margin: $center;

  &__container {
    margin: $margin + 0.6rem;
  }

  &__choose {
    @include explanation-content("\f3cd");
  }

  &__compose {
    @include explanation-content("\f0ca");
  }

  &__taste {
    @include explanation-content("\f54e");
  }

  @include desktop-only {
    max-width: 40%;
    margin: $center;
  }

  @include tablet-only {
    max-width: 60%;
    margin: $center;
  }
}

.restaurant {
  padding: $padding + 0.6rem;

  &__new {
    position: relative;
    top: 3rem;
    left: 14rem;
    padding: $padding - 0.3rem $padding;
    width: fit-content;
    background-color: $tertiary;

    & p {
      @include text-colour($tertiary);
    }
  }

  &__title {
    @include desktop-only {
      max-width: 900px;
      margin: $center;
    }

    @include tablet-only {
      max-width: 95%;
      margin: $center;
    }
  }

  &__container {
    margin: $margin + 0.6rem 0;
    padding: $padding 0;
    @include flexbox(center, center, 1.5rem, row wrap);
  }

  &__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 1.2rem;
    @include box-shadow(0 0.4rem 1rem 0.2rem rgba(0, 0, 0, 0.3));

    &--image {
      grid-area: 1 / 1 / 4 / 4;
      height: 12rem;
      width: 100%;
      @include index-image;
    }

    &--text {
      padding: $padding - 0.2rem 0 $padding $padding + 0.6rem;
      padding-bottom: $padding;
      grid-area: 4 / 1 / 5 / 3;
      @include flexbox(flex-start, flex-start, 0.6rem, column wrap);
      border-bottom-left-radius: 1.2rem;
    }

    &--favorite {
      grid-area: 4 / 3 / 5 / 4;
      border-bottom-right-radius: 1.2rem;
      @include heart;
    }

    &--heart {
      width: 100%;
    }
  }

  @include desktop-only {
    max-width: 900px;
    margin: $center;
  }
}

.spinner-loader {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: rgba(22, 22, 21, 0.3);
  color: beige;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disapear 5000ms ease-in-out both;
  transform: translateZ(-1);

  &__circle1 {
    position: absolute;
    height: 280px;
    margin: 0 auto;
    width: 280px;
    border: 5px solid rgba(147, 86, 220, 0);
    border-radius: 50%;
    animation: border-loader 1300ms ease-in-out 600ms 3 both;
  }

  &__circle2 {
    position: absolute;
    height: 210px;
    width: 210px;
    border: 5px solid rgba(147, 86, 220, 0);
    border-radius: 50%;
    animation: border-loader 1s ease-in-out 550ms 3 both;
  }

  &__circle3 {
    position: absolute;
    height: 250px;
    width: 250px;
    border: 5px solid rgba(147, 86, 220, 0);
    border-radius: 50%;
    animation: border-loader 1150ms ease-in-out 450ms 3 both;
  }

  @keyframes border-loader {
    0% {
      border-top-color: rgba(147, 86, 220, 0);
      transform: rotate(0deg);
    }

    10% {
      border-top-color: rgba(147, 86, 220, 0.3);
    }

    30% {
      border-top-color: rgba(147, 86, 220, 0.5);
    }

    60% {
      border-top-color: rgba(147, 86, 220, 0.8);
    }

    100% {
      border-top-color: rgba(147, 86, 220, 0);
      transform: rotate(360deg);
    }
  }

  & h3 {
    font-size: 2rem;
    opacity: 0;
    animation: disapear 1150ms ease-in-out 150ms 3 both;
  }

  &__point {
    font-size: 2rem;
    padding: 3px;
    animation: disapear 1150ms ease-in-out 150ms 3 both;
  }

  @keyframes disapear {
    0% {
      opacity: 0.8;
      visibility: visible;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      z-index: 0;
    }
  }
}

.menu {
  background-color: $white;
  position: relative;
  z-index: 1;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;

  &__name {
    padding: $padding + 1rem $padding $padding $padding;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center;

    &--title {
      grid-area: 1 / 1 / 2 / 3;
      & h1 {
        font-family: $logo-font;
        font-size: 1.5rem;
      }
    }

    &--favorite {
      grid-area: 1 / 3 / 2 / 4;
      @include heart;
      position: relative;
      top: -2.05rem;
      left: -3.05rem;
    }
  }

  &__entries {
    @include flexbox(flex-start, flex-start, 2rem, column wrap);
    padding: $padding;
    @include menu-title;
  }

  &__dishes {
    @include flexbox(flex-start, flex-start, 2rem, column wrap);
    padding: $padding;
    @include menu-title;
  }

  &__desserts {
    @include flexbox(flex-start, flex-start, 2rem, column wrap);
    padding: $padding;
    @include menu-title;
  }

  &__order {
    width: 50%;
    margin: $center;
    margin-top: $margin + 2.4rem;
    margin-bottom: $margin + 2.4rem;
  }

  @include button;
}
