.reservation {
    padding: $padding + 2.25rem $padding + 0.6rem;
    @include flexbox(space-between, center, 0.6rem, column wrap);
    text-align: center;
    background-color: $light-background-color;
  
    &__button {
      margin-top: $margin + 1rem;
    }
    @include button;

    @include desktop-only {
      background-color: unset;
    }
  }